

.text {
  font-weight: 100;
    font-size: 28px;
    color: #e60a0a;
    margin-left: 104px;
    margin-top: 13px;
    position: absolute;
    font-family: 'Syne Mono', monospace;

}
.dud {
  color: #ffffff;
}